header {
  display: flex;
  background-color: $header_background;
  justify-content: space-between;
  color: #FFF;
  align-items: center;
  height: 10vh;
}

.logo {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  font-size: 5vh;
  align-items: center;
  cursor: pointer;
}

.logo > img {
  height: 10vh;
  margin-right: 10px;
}

.user-nav {
  display: flex;
  flex-direction: row;
  font-size: 3vh;
}

.user-nav > * {
  margin: 10px;
  cursor: pointer;
}

.user-nav > *:hover, .logo:hover {
  color: #DFE2DB;
}
