.expansion_img {
  height: 20vh;
  display: none;
}

.cards_list {
  margin-left: 5vw;
  width: 88vw;
  margin-top: 5vh;
}

.index_card {
  width: 22vw;
  display: inline-flex;
  flex-direction: column;
}

.index_card img {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.index_card .rating {
  margin-bottom: 20px;
  height: 5vh;
  display: flex;
  justify-content: center;
}

.index_card .star {
  font-size: 2vw;
  margin: 0 5px;
}
