.userpage > h1 {
  margin: 5vh;
  font-size: 3vh;
}

.userpage > ul {
  margin-left: 6vh;
  width: 30vw;
}

.userpage li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card_link {
  cursor: pointer;
}

.card_link:hover {
  text-decoration: underline;
}
